################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InjecaoDependencia.WebApi/config
/src/InjecaoDependencia.WebApi/bin/Debug/net6.0/InjecaoDependencia.WebApi.dll
/src/InjecaoDependencia.WebApi/bin/Debug/net6.0/InjecaoDependencia.WebApi.exe
/src/InjecaoDependencia.WebApi/bin/Debug/net6.0/InjecaoDependencia.WebApi.pdb
/.vs/InjecaoDependencia.WebApi/v17/.suo
*.user
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/apphost.exe
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/refint/InjecaoDependencia.WebApi.dll
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/ref/InjecaoDependencia.WebApi.dll
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/InjecaoDependencia.WebApi.AssemblyInfo.cs
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/InjecaoDependencia.WebApi.AssemblyInfoInputs.cache
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/InjecaoDependencia.WebApi.dll
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/InjecaoDependencia.WebApi.pdb
/src/InjecaoDependencia.WebApi/obj/Debug/net6.0/InjecaoDependencia.WebApi.sourcelink.json
